/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: #111111;
}

.label{
	-fx-font-size: 16;
	-fx-font-family: "Lucida Console";
	-fx-text-fill: "white";
	-fx-alignment: center;
}
#labeltitle{
	-fx-font-size: 30;
}
#adminloginlabel{
	-fx-font-size: 20;
}
#userloginlabel{
	-fx-font-size: 20;
}
#userregistrationlabel{
	-fx-font-size: 15;
}
#adminLoginErrorLabel{
	-fx-font-size: 10;
	-fx-text-fill: "red";
}
#userLoginErrorLabel{
	-fx-font-size: 10;
	-fx-text-fill: "red";
}
#userRegistrationErrorLabel{
	-fx-font-size: 10;
	-fx-text-fill: "red";
}
#userRegistrationSuccessLabel{
	-fx-font-size: 10;
	-fx-text-fill: "green";
}
#bookAddErrorLabel{
	-fx-font-size: 13;
	-fx-text-fill: "red";
}
#bookAddSuccess{
	-fx-font-size: 13;
	-fx-text-fill: "green";
}
